
bower_components/
node_modules/
dist/
.pulp-cache/
output/
output-es/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago

# generated SolidStart alpha app output
examples/solid-start/package.json
examples/solid-start/vite.config.js
examples/solid-start/public/
examples/solid-start/src/
